/*********************************************
*
* Home
*
*********************************************/

@font-face {
	font-family: 'KozGoPro-ExtraLight';
	src:url('fonts/KozGoPro-ExtraLight.otf');
	src:url('fonts/KozGoPro-ExtraLight.otf?#iefix') format('embedded-opentype');
		url('fonts/KozGoPro-ExtraLight.woff') format('woff'),
		url('fonts/KozGoPro-ExtraLight.ttf') format('truetype'),
		url('fonts/KozGoPro-ExtraLight.svg#KozGoPro-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family:'KozGoPro-ExtraLight';
	background:#000;
	color:#FFF;
}
.body{/*width:1349px;*/ width:100%; min-width: 500px; margin:0 auto;}
.contenido{height:750px;min-width: 1200px;	overflow:hidden;border-top:solid 1px #FFF;border-bottom:solid 1px #FFF;}
.contenido img{
	width:100%;/* min-width: 1200px;*/
}
.loading{
	width:500px;
	margin:0 auto;
}
.cent{
	position: absolute;
	top: 575px;
	width: 100%;
}
.welcome{
	position: absolute;
	font-size: 55px;
	color: #000;
	top: 617px;
	width: 100%;
	text-align: center;
	letter-spacing: 5px;
}
.welcome:hover{
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFF, 0 0 20px #000000, 0 0 30px #01a8ff, 0 0 40px #01a8ff, 0 0 50px #01a8ff, 0 0 75px #01a8ff;
}
.welcome a{
	color:#000;
	text-decoration:none;
}
.imB{
	position: absolute;
	top: 144px;
	width: 100%;
}



/*********************************************
*
* Nosotros
*
*********************************************/
.almiv{position: absolute;top: 225px;width: 100%;}
.miv{font-size: 22px;min-width: 780px;max-width: 809px;border: solid 2px #FFF;padding: 10px;height: 600px;margin: 0 auto;}
.conmiv{height: 92%;background:rgba(60, 60, 60, 0.72);padding:25px;text-align:justify;}
.mision span{font-size:18px;}
.mision p{text-align:center; margin-bottom:60px; text-decoration:underline; letter-spacing:10px;}
.espm{height:35px;}


/*********************************************
*
* Menu
*
*********************************************/

.option{width:200px;position:absolute;background: rgba(0, 0, 0, 0.77); z-index:5;}
.option ul{list-style:none;font-size:20px;color:#01a8ff;margin-left:0;margin-bottom:0; transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;}
.option ul li a{line-height: 40px;/*padding-left: 30px;*/ padding:3px 12px;  display:block;}/*background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;*/
.option ul li a:hover{color:#FFF !important;background:rgba(1, 168, 255, 0.56); /* Safari 5.1 to 6.0 */background: rgba(1, 168, 255, 0.56); /* Opera 11.1 to 12.0 */background: rgba(1, 168, 255, 0.56); /* Firefox 3.6 to 15 */ background: rgba(1, 168, 255, 0.56); /* Standard syntax */}
.option ul li a{text-decoration:none;color:#01a8ff; height: 43px;}
.option ul li a:hover{color:#FFF;}
.option ul li a .s{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;/*border-bottom-style: solid;*/border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;transition: all 264.4s linear; }
.option ul li a .nos{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;/*border-bottom-style: solid;*/border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px; }
.option ul li a .port{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;/*border-bottom-style: solid;*/border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;transition: all 264.4s linear;}
.option ul li a .faq{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;/*border-bottom-style: solid;*/border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;}
.option ul li a .cont{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;/*border-bottom-style: solid;*/border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;}
.option ul li a .prov{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;border-bottom-style: solid;border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;}

.opL{display:none;}
.menOp{cursor:pointer;font-size: 23px;text-align: center;margin-top: 10px;margin-bottom: 10px;}
.menOp .flec{background: url(../img/flet.png);width: 28px;height: 17px;position: absolute;top: 10px;right: 30px;}
.option ul li a .flett{background: url(../img/flett.png);width: 28px;height: 17px;position: relative;left: 122px;top: -30px;}
.option ul li a .flettt{background: url(../img/flettt.png);width: 28px;height: 17px;position: relative;left: 122px;top: -30px;}
/* secccion agregada por  */
.option li ul {display:none;position:relative;min-width:140px;}
.option li:hover > ul {display:block; }
.option li ul li {position:relative; left: 25px; padding: 0px 25px 0px 0px;transition: all 400s ease-in-out;
}
.option li ul li a{paddin:1px 1px;}
.option li ul li ul {right:-140px;top:0px; }
/*fin de la seccion agregada*/

/*seccion agregada por*/


/*fin de la seccion agregada*/
/*********************************************
*
* Header
*
*********************************************/

.lang{
	width:100%;
}
.lang p{
	float: right;
	margin-right: 30px;
}
.flag{
	margin-top: 90px;
	margin-bottom: 5px;
	float: right;
	margin-right: 30px;
}
.flag img{
	width:30px;
	margin-right:5px;
	cursor:pointer;
	margin-top:-5px;
}
.flag input{
	margin-top:10px;
}
.reg{
	font-size:23px;
}
.reg input{
	background: #131516;
	border: none;
	border-radius: 0;
	margin-right: 30px;
	width: 150px;
}
.logo{
	width: 300px;
	height: 130px;
	position: absolute;
	background: url(../img/page/logo.jpg);
	background-size: 85%;
	margin-top: 6px;
	background-repeat: no-repeat;
	margin-left: 50px;
}



/*********************************************
*
* Footer
*
*********************************************/

.copyright p{
	text-align:center;
	margin-bottom:20px;
}
.dom{
	color:#ff0600;
}
.cont{
	color:#01a8ff;
}
.search{
	position: absolute;
	background: #2a2c3e;
	padding: 20px;
	margin-top: -60px;
	width: 200px;
}
.search img{
	width:20px;
	margin-left: 25px;
}

/********************************** portafolio***********************************/
.miv .conmiv .comp{border: solid 1px #FFF;height: 518px;width: 100%;position:relative;top: 44px;}
.miv .conmiv .comp .antes{border: solid 1px #F7F7F7;width: 50%;height: 516px;margin: 0px 11px 0px 0px;}
.miv .conmiv .comp .despues{position: absolute;width: 50%;top: 0px;right: 0;height: 516px;border: solid 1px #F7F7F7;}
.miv .conmiv .ante{background: transparent url(../img/page/antes.png) no-repeat -9px -9px;width: 219px;height: 58px;margin-left: 98px;top: 20px;position: absolute;} 
.miv .conmiv .despu{background: transparent url(../img/page/despues.png) no-repeat -15px 0px;width: 215px;height: 73px;margin-left: 455px;top: 16px;position: absolute;} 

.ra{background:url(../img/page/ra.jpg); background-size:100%;}
.rd{background:url(../img/page/rd.jpg); background-size:100%;}

/*********************************fin del portafolio****************************/

/********************************menu de servicio*******************************/
.contenido .paquet{background: rgba(60, 60, 60, 0.72);max-width: 800px;min-width: 791px;height: 37px;margin: 0 auto;margin-top: -59px;margin-bottom: 25px;}
.paquet a.pe{padding: 3px 56px 10px 55px;position: relative;left: 0px;top: 5px;margin: 0 13px 0 13px;}
.paquet a.mr{padding: 4px 67px 9px 69px;position: relative;left: 8px;top: 6px;}
.paquet a.pb{/*padding: 4px 24% 15px 26%;*/ background:rgba(0, 136, 204, 0.74);padding: 3px 66px 16px 57px;position: relative;}
.paquet a.pe:hover{ background:rgba(0, 136, 204, 0.74); text-decoration:none; color:#FFF;}
.paquet a.mr:hover{background:rgba(0, 136, 204, 0.74); text-decoration:none; color:#FFF;/*padding: 5px 10% 9px 10%;*/margin-left: 0%;}
.paquet a.pb:hover{ /*background:rgba(0, 136, 204, 0.74);*/ text-decoration:none;}
.paquet .pb .pbs{position: relative;top: 5px;font-size: 18px;left: 0px; color:#FFF;}
.paquet .div-pb{width: 27%;height: 36px;/* color: rgb(91, 100, 107); */background: rgba(0, 136, 204, 0.74);}
.paquet .pe{position: relative;/*left: 252px;*/top: -30px;font-size: 18px}
.paquet .mr{position: relative;left: 252px;top: -30px;font-size: 18px}
/*************************************seccion video-pe, video-mr,foto,foto-pe***************************/
.paquet .pb-video{padding: 5px 10% 9px 10%;position: relative;left: -8px;top: 6px;}
.paquet	 a.pb-video:hover{background:rgba(0, 136, 204, 0.74); text-decoration:none; color:#FFF;/*padding: 5px 10% 9px 10%;*/margin-left: 0%;}
.paquet  a.pb-video{padding: 4px 59px 9px 59px;position: relative;left: 0px;top: 6px;font-size: 18px;}
.paquet .pe-video{ background:rgba(0, 136, 204, 0.74);padding: 3px 10% 16px 8%;position: relative;margin-left: 6px;}
.paquet .pe-video:hover{text-decoration:none;}
.paquet .pe-video .pes{position: relative;top: 5px;font-size: 18px;left: 0px; color:#FFF;}
.paquet .mr-video .mrs{position: relative;top: 5px;font-size: 18px;left: 0px; color:#FFF; }
.paquet a.mr-video:hover{text-decoration:none;}
.paquet .mr-video{background:rgba(0, 136, 204, 0.74);padding: 3px 10% 16px 8%;position: relative;margin-left: 6px;}
.contenido .miv .conmiv .pa1{ font-size:23px;}
.contenido .miv .conmiv .tc1{position: relative;top: 26px;left: -116px;margin: 17px;}
.contenido .miv .conmiv .contpa{}

/*******************************fin del paquete de servico**********************/


/*********************************************
*
* Retoque
*
*********************************************/
.backn{
	height: 520px;
	width: 761px;
	position: absolute;
	background: rgba(0, 0, 0, 0.85);
	top: 84px;
	z-index: 1;
}
.retp{
	height:92% !important;
}

/*********************************************
*
* Portafolio - Foto
*
*********************************************/
.portafoto{
	border:solid 1px #FFF;
	margin:20px;
	height:85%;
}
.porta{
	width: 237px;
	float: left;
	border: solid 1px #fff;
	opacity: 0.5;
	cursor:pointer;
}
