/*********************************************
*
* Home
*
*********************************************/

/*@font-face {
	font-family: 'KozGoPro-ExtraLight';
	src:url('fonts/KozGoPro-ExtraLight.otf');
	src:url('fonts/KozGoPro-ExtraLight.otf?#iefix') format('embedded-opentype');
		url('fonts/KozGoPro-ExtraLight.woff') format('woff'),
		url('fonts/KozGoPro-ExtraLight.ttf') format('truetype'),
		url('fonts/KozGoPro-ExtraLight.svg#KozGoPro-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
    font-family: KozGoPro-ExtraLight;
    src: url(../fonts/KozGoPro-ExtraLight.ttf);
}
@font-face {
    font-family: jey;
    src: url(../fonts/Jey.ttf);
}

body{
	font-family:'KozGoPro-ExtraLight';
	background:#000;
	color:#FFF;
}
.body{/*width:1349px;*/ width:100%; min-width: 500px; margin:0 auto;}
.contenido{height:750px;min-width: 1200px;	overflow:hidden;border-top:solid 1px #FFF;border-bottom:solid 1px #FFF;}
.contenido img{
	width:100%;/* min-width: 1200px;*/
}
.loading{
	width:500px;
	margin:0 auto;
}
.cent{
	position: absolute;
	top: 575px;
	width: 100%;
}
.welcome{
	position: absolute;
	font-size: 55px;
	color: #000;
	top: 617px;
	width: 100%;
	text-align: center;
	letter-spacing: 5px;
}
.welcome:hover{
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFF, 0 0 20px #000000, 0 0 30px #01a8ff, 0 0 40px #01a8ff, 0 0 50px #01a8ff, 0 0 75px #01a8ff;
}
.welcome a{
	color:#000;
	text-decoration:none;
}
.imB{
	position: absolute;
	top: 144px;
	width: 100%;
}
.homr{
	background: url(../img/page/home.png);
	background-size: 100%;
	width: 442px;
	height: 180px;
	margin: 0 auto;
	margin-top: -246px;
	background-repeat: no-repeat;
}
.bord{
	width: 130px;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	height: 150px;
	position: absolute;
	z-index: 10;
	margin: 5px;
	opacity: 0.7;
}
.bord1{
	background: url(../img/page/esquina1.png);
}
.bord2{
	background: url(../img/page/esquina2.png);
	margin-top: 615px;
}
.bord3{
	background: url(../img/page/esquina3.png);
	right:0;
}
.bord4{
	background: url(../img/page/esquina4.png);
	right:0;
	margin-top: 615px;
}


/*********************************************
*
* Nosotros
*
*********************************************/
.almiv{position: absolute;top: 225px;width: 100%;}
.almivp{ top:280px;}
.miv{font-size: 22px;min-width: 780px;max-width: 809px;border: solid 2px #FFF;padding: 10px;height: 600px;margin: 0 auto;}
.conmiv{height: 92%;background:rgba(60, 60, 60, 0.72);padding:25px;text-align:justify;}
.mision span, .politica span{font-size:18px;}
.mision p, .politica p{text-align:center; margin-bottom:60px; text-decoration:underline; letter-spacing:10px;}
.espm{height:35px;}


/*********************************************
*
* Menu
*
*********************************************/

/*.option{width:200px;position:absolute;background: rgba(0, 0, 0, 0.77); z-index:11;}
.option ul{list-style:none;font-size:20px;color:#01a8ff;margin-left:0;margin-bottom:0; transition:opacity 0.3s ease-out, visibility 0.1s 0.1s linear;}*/
/*.option ul li a{line-height: 40px;*//*padding-left: 30px;*/ /*padding:3px 12px;  display:block;}*//*background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;*/
/*.option ul li a:hover{color:#FFF !important;background:rgba(1, 168, 255, 0.56);*/ /* Safari 5.1 to 6.0 *//*background: rgba(1, 168, 255, 0.56); *//* Opera 11.1 to 12.0 *//*background: rgba(1, 168, 255, 0.56); *//* Firefox 3.6 to 15 *//* background: rgba(1, 168, 255, 0.56); *//* Standard syntax *//*}*/
/*.option ul li a{text-decoration:none;color:#01a8ff; height: 43px;}
.option ul li a:hover{color:#FFF;}
.option ul li a .s{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;*//*border-bottom-style: solid;*//*border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;transition: all 264.4s linear; }
.option ul li a .nos{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;*//*border-bottom-style: solid;*//*border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px; }*/
/*.option ul li a .port{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;*//*border-bottom-style: solid;*//*border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;transition: all 264.4s linear;}
.option ul li a .faq{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;*//*border-bottom-style: solid;*//*border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;}
.option ul li a .cont{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;*//*border-bottom-style: solid;*//*border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;}
.option ul li a .prov{text-decoration: none;width: 187px;height: 32px;border-top-style: solid;border-bottom-style: solid;border-width: 1px;border-color: rgba(105, 103, 103, 0.45);margin-left: -10px;padding: 5px;line-height: 33px;}*/

/*.opL{display:none;}
.menOp{cursor:pointer;font-size: 23px;text-align: center;margin-top: 10px;margin-bottom: 10px;}
.menOp .flec{background: url(../img/flet.png);width: 28px;height: 17px;position: absolute;top: 10px;right: 30px;}
.option ul li a .flett{background: url(../img/flett.png);width: 28px;height: 17px;position: relative;left: 122px;top: -30px;}
.option ul li a .flettt{background: url(../img/flettt.png);width: 28px;height: 17px;position: relative;left: 122px;top: -30px;}*/
/* secccion agregada por  */
/*.option li ul {display:none;position:relative;min-width:140px;}
.option li:hover > ul {display:block; }
.option li ul li {position:relative; left: 25px; padding: 0px 25px 0px 0px;transition: all 400s ease-in-out;
}
.option li ul li a{paddin:1px 1px;}
.option li ul li ul {right:-140px;top:0px; }*/
/*fin de la seccion agregada*/

/*seccion agregada por*/


/*fin de la seccion agregada*/
/*********************************************
*
* Header
*
*********************************************/

.lang{
	width:100%;
}
.lang p{
	float: right;
	margin-right: 30px;
}
.flag{
	margin-top: 90px;
	margin-bottom: 5px;
	float: right;
	margin-right: 30px;
}
.flag img{
	width:30px;
	margin-right:5px;
	cursor:pointer;
	margin-top:-5px;
}
.flag input{
	margin-top:10px;
}
.reg{
	font-size:23px;
}
.reg input{
	background: #131516;
	border: none;
	border-radius: 0;
	margin-right: 30px;
	width: 150px;
}
.logo{
	width: 300px;
	height: 130px;
	position: absolute;
	background: url(../img/page/logo.png);
	background-size: 90%;
	margin-top: 20px;
	background-repeat: no-repeat;
	margin-left: 50px;
}



/*********************************************
*
* Footer
*
*********************************************/

.copyright p{
	text-align:center;
	margin-bottom:20px;
}
.dom{
	color:#ff0600;
}
.cont{
	color:#01a8ff;
}
.polit a{
	color:#FFF;
}
.search{
	position: absolute;
	background: #2a2c3e;
	padding: 20px;
	margin-top: -60px;
	width: 200px;
}
.search img{
	width:20px;
	margin-left: 25px;
}

/********************************** portafolio***********************************/
.miv .conmiv .comp{border: solid 1px #FFF;height: 500px;width: 100%;position:relative;top: -87px;opacity: 0.2;}
.miv .conmiv .comp .antes{border: solid 1px #F7F7F7;width: 50%;height: 498px;margin: 0px 11px 0px 0px;}
.miv .conmiv .comp .despues{position: absolute;width: 50%;top: 0px;right: 0;height: 498px;border: solid 1px #F7F7F7;} 
.miv .conmiv .ante{width: 382px;height: 58px;position: relative;font-family: jey;font-size: 68px;text-decoration: underline;margin-bottom: 11px;text-align: center;} 
.miv .conmiv .despu{left: 460px; top: -82px;width: 382px;height: 58px;position: relative;font-family: jey;font-size: 68px;text-decoration: underline;margin-bottom: 11px;text-align: center;margin-left: -81px;margin-top: 24px;}

.ra{background:url(../img/page/ra.jpg); background-size:100%;}
.rd{background:url(../img/page/rd.jpg); background-size:100%;}

/*********************************fin del portafolio****************************/

/********************************menu de servicio*******************************/
/*.contenido .paquet{background: rgba(60, 60, 60, 0.72);max-width: 800px;min-width: 791px;height: 37px;margin: 0 auto;margin-top: -59px;margin-bottom: 25px;}*/
/*.paquet a.pe{padding: 3px 56px 10px 55px;position: relative;left: 0px;top: 5px;margin: 0 13px 0 13px;}*/
/*.paquet a.mr{padding: 4px 67px 9px 69px;position: relative;left: 8px;top: 6px;}*/
/*.paquet a.pb{*//*padding: 4px 24% 15px 26%;*//* background:rgba(0, 136, 204, 0.74);padding: 3px 66px 16px 57px;position: relative;}*/
/*.paquet a.pe:hover{ background:rgba(0, 136, 204, 0.74); text-decoration:none; color:#FFF;}*/
/*.paquet a.mr:hover{background:rgba(0, 136, 204, 0.74); text-decoration:none; color:#FFF;*//*padding: 5px 10% 9px 10%;*//*margin-left: 0%;}*/
/*.paquet a.pb:hover{ *//*background:rgba(0, 136, 204, 0.74);*/ /*text-decoration:none;}*/
/*.paquet .pb .pbs{position: relative;top: 5px;font-size: 18px;left: 0px; color:#FFF;}*/
/*.paquet .div-pb{width: 27%;height: 36px;*//* color: rgb(91, 100, 107); *//*background: rgba(0, 136, 204, 0.74);}*/
/*.paquet .pe{position: relative;*//*left: 252px;*//*top: -30px;font-size: 18px}*/
/*.paquet .mr{position: relative;left: 252px;top: -30px;font-size: 18px}*/
/*************************************seccion video-pe, video-mr,foto,foto-pe***************************/
.paquet .pb-video{padding: 5px 10% 9px 10%;position: relative;left: -8px;top: 6px;}
.paquet	 a.pb-video:hover,.paquet  a.mr:hover{background:rgba(0, 136, 204, 0.74); text-decoration:none; color:#FFF;/*padding: 5px 10% 9px 10%;*/margin-left: 0%;}
.paquet  a.pb-video{padding: 4px 59px 9px 59px;position: relative;left: 0px;top: 6px;font-size: 18px;}
.paquet  a.mr{padding: 4px 59px 9px 59px;position: relative;left: 6px;top: 6px;font-size: 18px;}
.paquet .pe-video{ background:rgba(0, 136, 204, 0.74);padding: 3px 10% 16px 8%;position: relative;margin-left: 6px;}
.paquet .pe-video:hover{text-decoration:none;}
.paquet .pe-video .pes{position: relative;top: 5px;font-size: 18px;left: 0px; color:#FFF;}
.paquet .mr-video .mrs{position: relative;top: 5px;font-size: 18px;left: 0px; color:#FFF; }
.paquet a.mr-video:hover{text-decoration:none;}
.paquet .mr-video{background:rgba(0, 136, 204, 0.74);padding: 3px 10% 16px 8%;position: relative;margin-left: 6px;}
/***************el contenedor de lo paquetes *****************/
.contenido .miv .conmiv .tc1{text-align: -webkit-auto;font-size: 18px;line-height: 20pt;width: 553px;}
.contenido .miv .conmiv .tc2{position: relative;left: 615px;top: 9px;}
.contenido .miv .conmiv .trian{width: 0;height: 0;border-bottom: 12px solid rgba(0, 136, 204, 0.74);border-left: 12px solid transparent;position: relative;left: 747px;}
.contenido .miv .conmiv .tc3{border-bottom: solid 2px rgba(0, 136, 204, 0.74);}
.contenido .miv .conmiv .tc4{background: rgba(60, 60, 60, 0.72);margin-top: -26px;padding-top: 20px;padding: 25px;margin-left: -25px;margin-right: -43px;margin-bottom: -22px;}
.contenido .miv .conmiv .tc5{position: relative;left: 188px;top: 15px;}
 .pq12{overflow:auto;	padding-right: 80px;	width: 93%;	background:none;}
 .pq12::-webkit-scrollbar-track{border-right: solid 1px;}
 .pq12::-webkit-scrollbar{width: 12px;}
 .pq12::-webkit-scrollbar-thumb{border-radius: 10px;	border: solid 1px #fff;}

/*******************************fin del paquete de servico**********************/


/*********************************************
*
* Retoque
*
*********************************************/
.backn{
	height: 520px;
	width: 761px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	top: 84px;
	z-index: 1;
}
.retp{
	height:92% !important;
}

/*********************************************
*
* Portafolio - Foto
*
*********************************************/
.portafoto{
	border:solid 1px #FFF;
	margin:20px;
	height:85%;
}
.porta{
	width: 235px;
	height:220px;
	float: left;
	border: solid 1px #fff;
	opacity: 0.5;
	cursor:pointer;
	overflow:hidden;
}
.port{
	height:445px;
}
.mivsd{
	height:530px;
	margin-top:55px;
}
#infoto{
	display:none;
	min-width: 200px;
	width: 500px;
	height:650px;
}
.wiopo{
	border:none;
}
.wiopo img{
	display: block;
	margin: 0 auto;
	width: 350px;
	margin-top: 20px;
}
.poqu{
	border: solid 2px #FFF;
	text-align: justify;
	width: 328px;
	margin: 0 auto;
	font-size: 12px;
	background:#000;
	padding:10px;
}
.poqu span{
	text-decoration:underline;
	margin-bottom:5px;
}
.bordt{
	background: url(../img/page/superior.png);
	width: 240px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	margin-top: -110px;
	margin-left: 240px;
}
.bordtnos{
	margin-top:-90px;
}
.bordb{
	background: url(../img/page/inferior.png);
	width: 240px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	margin-top: 500px;
	margin-left: 240px;
}
.namep{
	font-family: jey;
	text-align: center;
	display: block;
	font-size: 50px;
}
.paquetPhot{
	width: 753px;
	margin: 0 auto;
	margin-bottom: 15px;
	background: rgba(0, 0, 0, 0.41);
	height: 36px;
}
.infoFoto{
	width: 328px;
	margin: 0 auto;
}
.ws, .we, .wesr{
	display:block;
	font-size:12px;
}
.ws{
	float:left;
}
.we{
	float:right;
	margin-right:70px;
}
.lente{
	margin-left: 120px;
	position: absolute;
	margin-top: -20px;
}
.wesr{
	text-align:center;
	font-size:15px;
	margin-top: -10px;
}
.both{
	clear:both;
}
/*********************************************
*
* Politica
*
*********************************************/
.politica{
	overflow:auto;
	padding-right: 80px;
	width: 93%;
	background:none;
}
.colorback{
	display: block;
	background: rgba(60, 60, 60, 0.72);
	margin-top: -26px;
	padding-top: 20px;
	padding: 25px;
	margin-left: -25px;
	margin-right: -43px;
	margin-bottom: -22px
}
.politica::-webkit-scrollbar-track{
	border-right: solid 1px;
}
.politica::-webkit-scrollbar{
	width: 12px
}
.politica::-webkit-scrollbar-thumb{
	border-radius: 10px;
	border: solid 1px #fff;
}

/*****menu de prueba *****/
.option{margin: 0 auto;text-align: left;width: 794px;}
.nav,.nav ul {list-style:none;margin:0;padding:0;}
.nav {position:absolute;z-index: 11111;}
.nav ul {height:0;left:0;overflow:hidden;position:absolute;top:46px;}
.nav li {float:left;position:relative;width: 132px;}
.nav li a {-moz-transition:0.4s;-o-transition:0.4s;-webkit-transition:0.4s;background-color:/*#7770B4*/rgba(0, 0, 0, 0.41);border:1px solid rgba(0, 0, 0, 0.41);color:#FFF;display:block;font-size:16px;line-height:35px;padding:5px 20px;text-decoration:none;transition:0.4s; text-align: center;}
.nav li:hover > a {background:rgba(0, 136, 204, 0.74);border-color:rgba(0, 136, 204, 0.94);color:#fff;}

.nav li:hover ul.subs {
    height:auto;
    width:180px;
}

.nav ul li {
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -webkit-transition:0.4s;
    opacity:0;
    transition:0.4s;
    width:100%;
}

.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}

.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0.4s;
    -o-transition-delay:0.4s;
    -webkit-transition-delay:0.4s;
    transition-delay:0.4s;
}

.nav ul li a {
    background:rgba(0, 0, 0, 0.94);
    border-color:rgba(0, 0, 0, 0.41);
    color:#fff;
    line-height:1px;
    -moz-transition:1.5s;
    -o-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
}

.nav li:hover ul li a {
    line-height:35px;
}

.nav ul li a:hover {
    /*background:#8CCA33;*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}